{{> top title="PubSub, basic, with event"}}

	<!--[if lt IE 9]>
		<div class="log">
			<pre><code class="log-content"></code></pre>
			<button type="button" class="log-clear">Clear</button>
		</div>
	<![endif]-->

	<div class="controls">
		<button type="button" class="publish1">Publish</button>
		<button type="button" class="unsubscribe1">Unsubscribe</button>
		<button type="button" class="destroy1">Destroy</button>
	</div>

	<script>

		$('.log-clear').on('click', function () {
			$('.log-content').empty();
		});

		var pubsub = new $.kist.PubSub();

		$('.publish1').on('click', function () {
			pubsub.publish('foo.bar', 'foo');
			pubsub.publish('foo.bar', 'foo', 'bar');
			pubsub.publish('foo.bar', ['foo', 'bar']);
			pubsub.publish('foo.bar', {'foo':'bar', 'bar':'foo'});
			pubsub.publish('bar.foo', ['bar', 'foo']);
		});

		$('.unsubscribe1').on('click', function () {
			pubsub.unsubscribe('foo.bar');
		});

		$('.destroy1').on('click', function () {
			pubsub.destroy();
		});

		pubsub.subscribe('foo.bar', function () {
			if ( !+'\v1' ) {
				var data = JSON.stringify(Array.prototype.slice.call(arguments), null, '\t');
				$('.log-content').append('<hr />');
				$('.log-content').append(data);
			} else {
				console.log( arguments );
			}
		});

		pubsub.subscribe('bar.foo', function () {
			if ( !+'\v1' ) {
				var data = JSON.stringify(Array.prototype.slice.call(arguments), null, '\t');
				$('.log-content').append('<hr />');
				$('.log-content').append(data);
			} else {
				console.log( arguments );
			}
		});

	</script>

{{> bottom}}
