{{> top title="PubSub, basic, with event, with queue"}}

	<!--[if lt IE 9]>
		<div class="log">
			<pre><code class="log-content"></code></pre>
			<button type="button" class="log-clear">Clear</button>
		</div>
	<![endif]-->

	<div class="controls">
		<button type="button" class="publish1">Publish</button>
		<button type="button" class="unsubscribe1">Unsubscribe</button>
		<button type="button" class="subscribe1">Subscribe</button>
	</div>

	<script>

		$('.log-clear').on('click', function () {
			$('.log-content').empty();
		});

		var pubsub = new $.kist.PubSub({
			queue: true
		});

		$('.publish1').on('click', function () {
			pubsub.publish('foo.bar');
			pubsub.publish('foo.bar', 'foo');
			pubsub.publish('foo.bar', 'foo', 'bar', 'baz', 42, 'bad');
			pubsub.publish('foo.bar', ['foo', 'bar', 'baz', 42, 'bad']);
			pubsub.publish('bar.foo', ['bar', 'foo', 'baz', 42, 'bad']);
		});

		$('.unsubscribe1').on('click', function () {
			pubsub.unsubscribe('foo.bar');
		});

		$('.subscribe1').on('click', function () {
			pubsub.subscribe('foo.bar', function () {
				if ( !+'\v1' ) {
					alert('Late subscribe');
					var data = JSON.stringify(Array.prototype.slice.call(arguments), null, '\t');
					$('.log-content').append('<hr />');
					$('.log-content').append(data);
				} else {
					console.log('Late subscribe');
					console.log( arguments );
				}
			});
		});

		pubsub.subscribe('foo.bar', function () {
			if ( !+'\v1' ) {
				var data = JSON.stringify(Array.prototype.slice.call(arguments), null, '\t');
				$('.log-content').append('<hr />');
				$('.log-content').append(data);
			} else {
				console.log( arguments );
			}
		});

		pubsub.subscribe('bar.foo', function () {
			if ( !+'\v1' ) {
				var data = JSON.stringify(Array.prototype.slice.call(arguments), null, '\t');
				$('.log-content').append('<hr />');
				$('.log-content').append(data);
			} else {
				console.log( arguments );
			}
		});

	</script>

{{> bottom}}
